# Developer's Private Keys
CLOUDFLARED_TOKEN=
CLOUDFLARED_TUNNEL_URL=
TELEGRAM_BOT_TOKEN=


# Database connection
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=


# Redis connection
REDIS_HOST=
REDIS_PORT=



# Meeilisearch connection
MEILISEARCH_URL=
MEILISEARCH_MASTER_KEY= 


# Keycloak Client information
REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_URL=
KEYCLOAK_REDIRECT_URI=


# Google Bucket 
BUCKET_NAME=
GCP_PROJECT_ID=
GCP_TOPIC_ID=


# FastApi specific
IS_DEBUG=True
GUNICORN_WORKERS=1
SESSION_MIDDLEWARE_KEY=
SECRET_TOKEN=


# PgAdmin credentials
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=


# RMQ and Celery containers
RABBITMQ_USER=
RABBITMQ_PASSWORD=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


# Main Domain
NUSPACE=https://nuspace.kz



