# Python cache files (ignore __pycache__ in any directory)
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual environment
venv/

# Terraform credentials and state files
**/terraform.json
terraform/creds/
*.tfstate
*.tfstate.*
.terraform/

# PyCharm IDE files
.idea/

# Node.js dependencies
node_modules/

# Build output (Vite/React)
dist/
ssl/

# Next.js build output
.next/
out/
# Static folder pycache
static/**/__pycache__/

# Configs folder pycache
configs/**/__pycache__/

# Environmental files
.env

# Cloudflared local dev credentials
infra/cloudflared/

.ansible/

# Log files
*.log

# OS-specific files
.DS_Store
**/.DS_Store
Thumbs.db


**/.vscode/

# Loki bucket service account 
**/nuspace_bucket.json

**/.ruff_cache/
**/.pytest_cache/

# CapacitorJS build files
frontend/ios
frontend/android

# Promt files
.github/prompts
.kiro/