repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.5  # актуальную версию можно посмотреть на GitHub
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
