services:
  fastapi:
    image: kamikadze24/fastapi:${TAG}

    build:
      context: ..
      dockerfile: backend/Dockerfile
      args:
        IS_DEBUG: ${IS_DEBUG:-true} # Default to 'true' if not set

  frontend-builder:
    image: kamikadze24/frontendbuilder:${TAG}
    build:
      context: ..
      dockerfile: frontend/Dockerfile_static_builder
    command: sh -c "npm run build" # Run build command on container start
    restart: "no"
