groups:
  - name: GrafanaDown
    rules:
      - alert: GrafanaDown
        expr: up{job="grafana"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Графана не доступна"
          description: "@sagyzdop Графана не доступна более 1 минуты"
